* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: 'Pacifico';
    src: url('./fonts/Pacifico/Pacifico-Regular.ttf');
}

@font-face {
    font-family: 'Lobster';
    src: url('./fonts/Lobster/Lobster-Regular.ttf');
}

body, img {
    background-color: #EFE2BA;
        
}

img {
    background-image: #EFE2BA;
}

button {
    cursor: pointer;
    /*background-color: brown;*/
    margin-left: 4px;
    margin-top: 5px;
    position: relative;
    bottom: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    height: 30px;
    padding: 8px;
    border: 1px solid black;
    margin-left: 8px;
}
